<div id="slide1" >
  <div class="callout">
    Ultra-fast Search Library<br/>
  </div>
  <div class="descwrapper"><div class="description">
      Apache Lucene set the standard for search and indexing performance.
      Lucene is the search core of both Apache Solr™ and Elasticsearch™.
    </div></div>
    <div class="mantle">
      <img alt="Apache Lucene" src="{{ SITEURL }}/theme/images/lucene/tlp/mantle-lucene.png{{ STATIC_RESOURCE_SUFFIX }}"/>
    </div>
</div>
<div id="slide2" style="display:none">
  <div class="callout">
    Proven search capabilities<br/>
  </div>
  <div class="descwrapper"><div class="description">
      Our core algorithms along with the Solr search server power applications the world over, ranging
      from mobile devices to sites like Twitter, Apple and Wikipedia.
    </div></div>
    <div class="mantle">
      <img alt="Lucene Power" src="{{ SITEURL }}/theme/images/lucene/mantle-power.png{{ STATIC_RESOURCE_SUFFIX }}"/>
    </div>
</div>
<div id="slide3" style="display:none">
  <div class="callout">
    Large, Vibrant community
  </div>
  <div class="descwrapper"><div class="description">
      The goal of Apache Lucene is to provide world class search capabilities
    </div></div>
    <div class="mantle">
      <img alt="Apache Mahout community" src="{{ SITEURL }}/theme/images/lucene/tlp/mantle-community.png{{ STATIC_RESOURCE_SUFFIX }}"/>
    </div>
</div>
<div id="slide4" style="display:none">
  <div class="callout">
    Apache 2.0 licensed
  </div>
  <div class="descwrapper"><div class="description">
      Apache Lucene is distributed under a commercially friendly Apache Software license
    </div></div>
    <div class="mantle">
      <img alt="Apache Software Foundation" src="{{ SITEURL }}/theme/images/lucene/mantle-asf.png{{ STATIC_RESOURCE_SUFFIX }}"/>
    </div>
</div>
